.Wrapper {
  position: sticky;
  display: flex;
  top: 0;
  background-color: #04111d;
  padding: 1.25rem;
  height: 80px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.LogoContainer {
  display: flex;
  align-items: center;
}
.Logo {
  display: flex;
  margin-left: 0.8rem;
}
.SiteName {
  color: white;
  margin-right: 0.8rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.SearchBar {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 9999px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  background-color: #363840;
}
.SearchBar:hover {
  background-color: #4c505c;
}
.MenuItems {
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
  color: white;
  justify-content: flex-end;
}
.MenuItem {
  display: flex;
  padding: 0.5rem;
  border-radius: 9999px;
  border-width: 2px;
  align-items: center;
  border: 0.2rem solid white;
}
@media (min-width: 768px) {
  .Wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
